.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
  width: 100%; 
  box-sizing: border-box; 
  
  padding: 1rem 5%; 
  background-color: #121212;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar__brand {
  flex-shrink: 0; 
}

.navbar__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem; 
}


.navbar__link {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  white-space: nowrap; 
}

.navbar__link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar__link.active {
  color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(136, 123, 255, 0.8) 0%,
    rgba(82, 74, 153, 0.9) 100%
  );
  box-shadow: 0px 4px 15px rgba(136, 123, 255, 0.2);
}